<% @trackers.each do |tracker| %>
  <p>
    <% datapoint = Datapoint.new %>
    <%= form_for datapoint, url: tracker_datapoints_path(tracker), method: :post do |datapoint_form| %>
      <%= datapoint_form.hidden_field :value, value: 1 %>
      <%= datapoint_form.submit tracker.name %>
    <% end %>
    <%= tracker.total %>
    <%= link_to 'Delete', tracker_path(tracker), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<%= form_for Tracker.new do |tracker_form| %>
  <%= tracker_form.text_field :name %>
  <%= tracker_form.submit 'save' %>
<% end %>
